.home__row {
  display: flex;
  z-index: 1;
  margin-right: 5px;
  margin-left: 5px;
}

.home_image {
  width: 100%;
  mask-image: linear-gradient(to top, rgb(0, 0, 0, 0), rgba(0, 0, 0, 1));
  z-index: -1;
  margin-bottom: -120px;
}
